# If true a submitter will not be able to continue the submission after the compliance
# step until all violations have been resolved
# submission.block.on.rule.violation.default is the default configuration for all collections
# Add a collection specific config by adding a property submission.block.on.rule.violation.{handle} with the handle of the collection
ref.submission.block.on.rule.violation.default = false
ref.submission.block.on.rule.violation.123456789/7 = true

rioxx.submission.block.on.rule.violation.default = false
rioxx.submission.block.on.rule.violation.123456789/7 = true

# If true a workflow reviewer will not be able to continue the workflow after the compliance
# step until all violations have been resolved.
# workflow.block.on.rule.violation.default is the default configuration for all collections
# Add a collection specific config by adding a property workflow.block.on.rule.violation.{handle} with the handle of the collection
ref.workflow.block.on.rule.violation.default = false
ref.workflow.block.on.rule.violation.123456789/7 = true

rioxx.workflow.block.on.rule.violation.default = false
rioxx.workflow.block.on.rule.violation.123456789/7 = true

# fields shown in the "REF Compliance Related Data" section during the compiance step
related.data.field.1 = rioxxterms.type
related.data.field.2 = dcterms.dateAccepted
related.data.field.3 = dc.date.issued
related.data.field.4 = refterms.dateFirstOnline
related.data.field.5 = refterms.dateFCD
related.data.field.6 = refterms.versionFCD
related.data.field.7 = refterms.dateFOA
related.data.field.8 = refterms.panel